version: '3'

services:
    nginx:
      build: .
      ports:
        - 80:80
        - 443:443
      volumes:
        - ./public:/usr/share/nginx/html:ro
        - ./conf.d/default.conf:/etc/nginx/conf.d/default.conf
        - ./sites-available:/etc/nginx/sites-enabled
        - ./nginx.conf:/etc/nginx/nginx.conf
        - ../mastodon/public/system:/var/www
        #- ../wordpress/public:/var/www/html
      environment:
        TZ: Asia/Tokyo
      restart: unless-stopped
      networks:
        - proxy_network

networks:
    proxy_network:
      external: true